* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  /* perspective: 500px; */
}

.container{
  height: 400px;
  width: 400px;
  position: relative;
  background-color: red;
  overflow: hidden;
  transition: all 500ms;
  cursor: pointer;
}

img{
  width: 100%;
  transition: all 500ms;
  /* transform: scale(1.2); */
}

.container:hover img{
  transform: scale(1.3) rotate(10deg);
}

.caption{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 500ms;
}


.caption h1{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5px;
}

.caption p {
  margin-top: 10px;
}

.container:hover .caption{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}